@import
url('https://fonts.googleapis.com/css2?family=Cinzel:wght!700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

body {
    background-color: #241f1f;
    color: #3a75a5;
    font-family: 'Cinzel', serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgb(27, 28, 61);
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    padding: 12px 24px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    background-color: #444;
    border: 2px solid #888;
    border-radius: 8px;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #888;
    color: #111;
    border-color: #aaa;
    transform: scale(1.05);
}