*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* This code lets you see visible borders */
.header-1 *, .header-1{
    border: 1px dotted black;
}

.header-1{
display: flex;
align-items: center;
background-color:#ffffff ;
padding: 2.2rem 1.7rem;
text-align: center;
justify-content: space-between;
}

.logo {
    max-width: 90px;
}

.header-name-1{
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.left-side{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.right-side{
    display: flex;
    gap: 2rem;
}