*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* This code lets you see visible borders */
/* .header-1 *, .header-1{
    border: 1px dotted black;
} */

.header-1{
display: flex;
align-items: center;
background-color:#1b1c27 ;
padding: 2.2rem 1.7rem;
text-align: center;
justify-content: space-between;
}

p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}

.header-2
{
    border: 1px dotted black;
}

.header-2
{

}
.logo {
    max-width: 90px;
}

.header-name-1{
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.left-side-1{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.right-side-1{
    color: black;
    gap: 5rem;
    display: flex;
    align-items: center;
}

.btn-1
{
    color: white;
    background-color: #333;
    padding: 0.5rem 1rem ;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.btn-1:hover
{
    background-color: #555;
    color:lightgray
}
/* border code */
.footer-1
{
border: 2px dotted black;
}

.footer-1
{
    background-color: #1b1c27;
    color: white;
    padding: 1rem;
    text-align: center;
}

.my-name{
    text-align: center;
    font-size: 2rem;
}

html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    justify-content: space-between;
}

.logo-2
{

}


